@charset "utf-8";



/* --------------------------------------------------------- Basic ------------------------------------------------------------------ */
body {
    /*background: url("../../images/admin/comm/body-bg.png") repeat left top;*/
    overflow-x: auto;
}
/* --------------------------------------------------------- //Basic ------------------------------------------------------------------ */



/* --------------------------------------------------------- container/main ------------------------------------------------------------------ */
/* Window Popup */
.win-popup {padding: 30px 20px; background: #ffffff;}
.win-popup > .table-wrapper:first-child {margin-top: 0;}
.win-popup .btn-wrap.center {margin-top: 20px;}



/* Header fixed에 따른 추가 */
#main {margin: 50px 0 100px 200px;}


/* Max size Wrapper */
.max-size-wrapper {max-width: 1200px;}
/* --------------------------------------------------------- //container/main ------------------------------------------------------------------ */



/* --------------------------------------------------------- html header ------------------------------------------------------------------ */
/* Top menu */
#header {position: fixed; top: 0; left: 200px; z-index: 98;}
#header .top-menu {background: #34425a; text-align: right;}
#header .top-menu .container a {
    display: inline-block; margin-left: -4px;
    font-size: 12px; line-height: 30px;
    background: #2b384e; color: #9797bf;
    padding: 0 12px;
    white-space: nowrap; box-sizing: border-box;
    min-width: 90px; text-align: center;
    border-right: 1px solid #6f6f8a;
}
#header .top-menu .container a:hover {color: #ffffff; text-decoration: underline;}
#header .top-menu .container a.home {
    background-color: transparent; color: #ffffff;
    border-right: none;
}
#header .top-menu .container a:last-child {border-right: none;}
#header .top-menu .container a img {margin-right: 5px;}
#header .top-menu .container a span {font-size: 13px; font-weight: 700; color: #9d9d9d; line-height: 40px; white-space: nowrap;}
#header .top-menu .logo {position: absolute; top: 0; left: 10px; z-index: 2;}
#header .top-menu .logo,
#header .top-menu .logo a {
    font-size: 12px; line-height: 30px;
    font-weight: bold;
    color: #fff;
}
#header .top-menu .logo a:hover {text-decoration: underline;}



/* Main menu */
.main-menu-wrapper {background: #ffffff; box-shadow: 0px 2px 5px #cdcdcd;}
#header .main-menu ul.depth1 {display: table; width: 100%;}
#header .main-menu ul.depth1 > li {display: table-cell; vertical-align: middle; width: 1%; position: relative;}
#header .main-menu ul.depth1 > li > a {
    display: block; text-align: center;
    font-size: 16px; font-weight: bold; line-height: 50px; color: #000000;
    padding: 0 20px;
    white-space: nowrap;
}
#header .main-menu ul.depth1 > li:hover ul.depth2 {display: block;}
#header .main-menu ul.depth1 > li:hover,
#header .main-menu ul.depth1 > li.active {background: #34425a;}
#header .main-menu ul.depth1 > li:hover a,
#header .main-menu ul.depth1 > li.active a {color: #ffffff;}
#header .main-menu ul.depth1 > li:hover > a::after,
#header .main-menu ul.depth1 > li.active > a::after {
    content: ""; position: absolute; left: 0; right: 0; bottom: 0; z-index: 2;
    width: 100%; height: 6px;
    background: #2b384e;
}

#header .main-menu ul.depth2 {
    display: none; z-index: 99;
    position: absolute; left: -1px;
    background: #ffffff; border: 1px solid #ddd;
    width: 100%; min-width: 160px;
    box-shadow: 0px 2px 4px #efefef;
}
#header .main-menu ul.depth2 > li {border-top: 1px solid #e1e3e4; padding: 0 12px;}
#header .main-menu ul.depth2 > li:first-child {border-top: none;}
#header .main-menu ul.depth2 > li > a {
    display: block;
    font-size: 14px; color: #777777 !important;
    white-space: nowrap;
    background: url("../../images/admin/comm/depth2-bullet-black.png") no-repeat left center;
    padding: 15px 0 15px 12px;
}
#header .main-menu ul.depth2 > li > a:hover {text-decoration: underline;}



/* Left Side Menu */
.left-gnb {
    position: absolute; left: 0; top: 0; bottom: 0; z-index: 97;
    width: 200px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px #cdcdcd;
}
.left-gnb .logo {background: #f2f2f2;}
.left-gnb .logo,
.left-gnb .logo a {display: table-cell; vertical-align: middle; text-align: center; width: 200px; height: 50px;}
.left-gnb .logo a {font-size: 14px; font-weight: bold; line-height: 18px; color: #333;}
.left-gnb .menu-area {padding: 25px 20px;}
/* .left-gnb .depth1 > li {margin-top: 20px;}
.left-gnb .depth1 > li:first-child {margin-top: 0;} */
.left-gnb .depth1 > li,
.left-gnb .depth1 > li > a {font-size: 15px; font-weight: bold; line-height: 24px; color: #000;}
.left-gnb .depth2 {margin-top: 8px;}
.left-gnb .depth2 > li {margin-top: 5px;}
.left-gnb .depth2 > li:first-child {margin-top: 0;}
.left-gnb .depth2 > li,
.left-gnb .depth2 > li > a {font-size: 14px; font-weight: normal; line-height: 26px; color: #666;}
.left-gnb .depth2 > li:hover > a {color: #0984e3; text-decoration: underline;}
.left-gnb .depth2 > li.active a {color: #0984e3;}
.left-gnb .foot-info {position: absolute; left: 0; right: 0; bottom: 40px; text-align: center; border-top: 1px solid #e1e3e4; padding-top: 25px;}
.left-gnb .foot-info a {
    font-size: 12px; line-height: 18px; margin-left: 8px;
    background: #f2f2f2;
    border: 1px solid #e1e3e4; border-bottom: 2px solid #ddd;
    border-radius: 5px;
    padding: 6px 12px; color: #333;
    overflow: hidden;
}
.left-gnb .foot-info a:first-child {margin-left: 0;}
.left-gnb .foot-info a:hover {background: #ddd; color: #000;}
/* --------------------------------------------------------- //html header ------------------------------------------------------------------ */



/* --------------------------------------------------------- html footer ------------------------------------------------------------------ */

/* --------------------------------------------------------- //html footer ------------------------------------------------------------------ */



/* --------------------------------------------------------- page header ------------------------------------------------------------------ */
/* Container */
.contents-wrap {
    min-width: 1200px; min-height: 700px;
    background: #ffffff; padding: 25px 40px;
    box-sizing: border-box;
}



/* 3Depth Menu */
.depth3-menu {margin: 10px 0 20px;}
.depth3-menu ul {border-bottom: 1px solid #34425a;}
.depth3-menu ul li {
    display: inline-block; vertical-align: bottom; position: relative;
    border: 1px solid #e1e3e4; border-width: 1px 1px 0 1px;
}
.depth3-menu ul li a {
    display: block;
    height: 45px; line-height: 45px; padding: 0 25px;
    font-size: 15px; color: #5f5f60; text-align: center;
}
.depth3-menu ul li.active {border-color: #34425a; background-color: #34425a;}
.depth3-menu ul li.active::after {content: ""; position: absolute; left: 0; right: 0; bottom: -2px; width: 100%; height: 2px; background: #ffffff;}
.depth3-menu ul li.active a {color: #fff; font-weight: bold;}
.depth3-menu ul li:hover {background-color: #f2f2f2;}
.depth3-menu ul li:hover a {color: #333333;}
/* --------------------------------------------------------- //page header ------------------------------------------------------------------ */



/* --------------------------------------------------------- page footer ------------------------------------------------------------------ */

/* --------------------------------------------------------- //page footer ------------------------------------------------------------------ */











